/* css for home page*/
body {
    background: #004225; /*casino green */
    color: white;
    font-family: Arial;
    margin: 0;
}

header {
    background: black;
    padding: 10px;
    text-align: center;
}

nav a {
    color: gold;
    margin: 0 10px;
    text-decoration: none;
}

.btn {
    background: gold;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

/* css for signin/signup pages */
.auth-form {
    background: rgba(0, 0, 0, 0.6);
    padding: 25px;
    width: 350px;
    margin: 20px auto;
    border-radius: 10px;
}

.auth-form input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 20px;
    border: none;
    border-radius: 5px;
}

.auth-form label {
    font-weight: bold;
}
